<h2>Welcome, {{username}}!</h2>

{{#each threads as |thread|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <a href="/thread/{{thread.id}}">{{thread.title}}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted on {{format_date thread.date_created}}</h6>
    <p class="card-text">{{thread.content}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}

<a href="/dashboard/newthread">New Thread</a>
